@font-face {
  font-family: "Circe-Bold";
  src: url('../fonts/Circe-Bold.ttf');
}
@font-face {
  font-family: "Circe";
  src: url('../fonts/Circe-Light.ttf');
}
@font-face {
  font-family: "Futura-Book-C";
  src: url('../fonts/FuturaBookC.ttf');
}
@font-face {
  font-family: "Circe-Regular";
  src: url('../fonts/Circe-Regular.ttf');
}
@font-face {
  font-family: "GillSans-SemiBold";
  src: url('../fonts/Gill-Sans.ttf');
}
body {
  font-family: Circe, arial;
  background: black;
}
h2 {
  margin: 110px 0 60px 0;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}
p,
li {
  font-size: 1.5em;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
ul li {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}
section,
footer {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
#block-main {
  height: 900px;
  background: url('../img/block-main-bg.png') no-repeat top;
  color: #ddddde;
}
#block-main-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
#block-main-top #logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  margin-top: 64px;
  font-family: "GillSans-SemiBold";
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
}
#block-main-top #logo > p {
  margin: 1px;
}
#block-main-top #logo > img {
  margin: -13px 10px 0 0;
  float: left;
}
#block-main-top nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 700px;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin-top: 80px;
}
#block-main-top nav li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 222px;
      -ms-flex: 0 1 222px;
          flex: 0 1 222px;
  font-size: 1.25em;
  opacity: 0.7;
  letter-spacing: 0.15px;
  color: white;
}
#block-main-top nav li:hover {
  opacity: 1;
}
/* Телефоны в шапке и в подвале */
.contact {
  font-size: 2.25em;
  margin-top: 73px;
}
.contact::before {
  content: '';
  margin: 6px 10px 0 0;
  height: 26px;
  width: 26px;
  float: left;
  background: url('../img/telephone.png') no-repeat top;
  -webkit-background-size: contain;
          background-size: contain;
}
#block-main-description {
  margin-top: 193px;
}
#block-main-description h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
}
#block-main-description h3 {
  font-size: 1.875em;
  line-height: 80px;
  font-weight: 400;
  letter-spacing: 0.75px;
}
#block-main-description span {
  color: #ffda44;
}
#block-portfolio ul li a {
  margin: 20px;
}
#block-price {
  height: 1070px;
}
#block-price h2 {
  margin: 120px 0 15px 0;
}
#block-price ul {
  padding-left: 5%;
  width: 100%;
  height: 80px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price ul:nth-child(odd) {
  background-color: #e8e8e8;
}
#block-price li {
  width: 15%;
  font-size: 1.5em;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price ul > li:first-child {
  width: 60%;
  text-align: left;
  padding-right: 5%;
}
#block-price ul:last-child > li:first-child {
  height: 80px;
  margin-top: 1.66em;
  font-size: 1.875em;
  font-family: "Circe-Bold";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price span {
  font-weight: 400;
  font-family: "Circe-Regular";
}
#block-price .space {
  width: 5%;
}
#block-price .orange {
  border-bottom: 5px solid #ffda44;
}
#block-price .green {
  border-bottom: 5px solid #52ac62;
}
#block-price .blue {
  border-bottom: 5px solid #4d59a1;
}
#block-order {
  background: url('../img/block-order-bg.jpg') no-repeat top;
  -webkit-background-size: cover;
          background-size: cover;
}
form {
  height: 700px;
  width: 500px;
  margin: 100px auto;
  background-color: white;
}
form h1 {
  margin: 80px 0 0 0;
  font-size: 2.25em;
}
form p {
  margin: 20px 0 10px 0;
  font-size: 1.25em;
  color: #727272;
}
form input {
  font-size: 1.5em;
  color: #272727;
  height: 95px;
  width: 350px;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid white;
  border-bottom: 1px solid black;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
form input[name="name"] {
  background: url('../img/avatar.png') no-repeat 20px;
}
form input[name="phone"] {
  background: url('../img/phone-call.png') no-repeat 20px;
}
form input[name="email"] {
  background: url('../img/envelope.png') no-repeat 20px;
}
form #submit {
  height: 80px;
  padding-left: 0;
  margin-top: 80px;
  color: white;
  background-color: #ffda44;
  cursor: pointer;
  font-size: 1.875em;
  font-weight: 700;
  border: 1px solid #ffda44;
}
form #submit:hover {
  -webkit-box-shadow: 3px 4px 10px grey;
          box-shadow: 3px 4px 10px grey;
}
footer {
  padding-top: 100px;
}
footer #email {
  margin: 35px auto;
  font-size: 2.5em;
  font-weight: bold;
}
footer #email::before {
  content: '';
  height: 28px;
  width: 36px;
  margin: 14px 20px 0 0;
  float: left;
  background: url('../img/email.png') no-repeat top;
  -webkit-background-size: contain;
          background-size: contain;
}
footer .contact {
  margin: 0 auto;
  font-size: 2.5em;
  font-weight: bold;
}
footer .contact::before {
  margin: 0 20px 0 0;
  height: 36px;
  width: 36px;
}
footer p:before {
  margin-right: 10px;
  font-family: Font Awesome\ 5 Free;
  content: "\f1f9";
}
