@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Light';
  src: url('../fonts/Circe-Light.eot');
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Regular';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/Gill-Sans.eot');
  src: url('../fonts/Gill-Sans.eot?#iefix') format('embedded-opentype'), url('../fonts/Gill-Sans.woff') format('woff'), url('../fonts/Gill-Sans.woff2') format('woff2'), url('../fonts/Gill-Sans.svg') format('svg'), url('../fonts/Gill-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 700px;
  font-family: 'Circe Light', arial;
  background: black;
}
h2 {
  margin: 3.5em 0 60px 0;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: 24px;
}
li {
  font-size: 1.5em;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
ul li {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}
section,
footer {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#block-main {
  height: 900px;
  background: url('../img/block-main-bg.png') no-repeat top;
  color: #ddddde;
}
#block-main-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  white-space: nowrap;
}
#block-main-top > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
#block-main-top #logo {
  -webkit-flex-basis: 21%;
      -ms-flex-preferred-size: 21%;
          flex-basis: 21%;
  min-width: 250px;
  margin-top: 64px;
  margin-left: 10%;
  font-family: 'Gill Sans', arial;
  text-align: left;
  text-transform: uppercase;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
#block-main-top #logo p {
  margin: 1px;
}
#block-main-top #logo img {
  margin: -13px 10px 0 0;
  float: left;
}
#block-main-top nav {
  -webkit-flex-basis: 35.5%;
      -ms-flex-preferred-size: 35.5%;
          flex-basis: 35.5%;
  margin-top: 80px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
#block-main-top nav ul {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#block-main-top nav ul li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 135px;
      -ms-flex: 0 1 135px;
          flex: 0 1 135px;
  font-size: 20px;
  opacity: 0.7;
  letter-spacing: 0.7px;
  text-align: right;
  color: white;
}
#block-main-top nav ul li:hover {
  opacity: 1;
}
#block-main-top nav ul li:nth-child(even) {
  padding-left: 1%;
}
#block-main-top .contact-menu {
  font-size: 36px;
  margin-top: 73px;
  -webkit-flex-basis: 27.5%;
      -ms-flex-preferred-size: 27.5%;
          flex-basis: 27.5%;
  margin-left: 6%;
  text-align: left;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
.contact::before {
  content: '';
  margin: 6px 10px 0 0;
  height: 26px;
  width: 26px;
  float: left;
  background: url('../img/telephone.png') no-repeat top;
  -webkit-background-size: contain;
          background-size: contain;
}
#block-main-description {
  margin-top: 193px;
}
#block-main-description h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
}
#block-main-description h3 {
  font-size: 1.875em;
  line-height: 80px;
  font-weight: 400;
  letter-spacing: 0.75px;
}
#block-main-description span {
  color: #ffda44;
}
#block-portfolio ul li a {
  margin: 20px;
}
#block-price {
  height: 1070px;
}
#block-price h2 {
  margin: 120px 0 15px 0;
}
#block-price ul {
  padding-left: 5%;
  width: 100%;
  height: 80px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price ul:nth-child(odd) {
  background-color: #e8e8e8;
}
#block-price li {
  width: 15%;
  font-size: 1.5em;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price ul > li:first-child {
  width: 60%;
  text-align: left;
  padding-right: 5%;
}
#block-price ul:last-child > li:first-child {
  height: 80px;
  margin-top: 50px;
  font-size: 1.875em;
  font-family: 'Circe Bold';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#block-price span {
  font-weight: 400;
  font-family: 'Circe Regular';
}
#block-price .space {
  width: 5%;
}
#block-price .orange {
  border-bottom: 5px solid #ffda44;
}
#block-price .green {
  border-bottom: 5px solid #52ac62;
}
#block-price .blue {
  border-bottom: 5px solid #4d59a1;
}
#block-order {
  background: url('../img/block-order-bg.jpg') no-repeat top;
  -webkit-background-size: cover;
          background-size: cover;
}
form {
  height: 700px;
  width: 500px;
  margin: 100px auto;
  background-color: white;
}
form h1 {
  margin: 80px 0 0 0;
  font-size: 36px;
}
form p {
  margin: 20px 0 10px 0;
  font-size: 18px;
  color: #727272;
}
form input {
  font-size: 24px;
  color: #272727;
  height: 95px;
  width: 350px;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 3px solid white;
  border-bottom: 1px solid black;
}
form input[name='name'] {
  background: url('../img/avatar.png') no-repeat 20px;
}
form input[name='phone'] {
  background: url('../img/phone-call.png') no-repeat 20px;
}
form input[name='email'] {
  background: url('../img/envelope.png') no-repeat 20px;
}
form input.error {
  border: 3px solid #ff0000;
}
form #submit {
  height: 80px;
  padding-left: 0;
  margin-top: 80px;
  color: white;
  background-color: #ffda44;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid #ffda44;
}
form #submit:hover {
  -webkit-box-shadow: 3px 4px 10px grey;
          box-shadow: 3px 4px 10px grey;
}
footer {
  padding-top: 100px;
}
footer #email {
  margin: 35px auto;
  font-size: 40px;
  font-weight: bold;
}
footer #email::before {
  content: '';
  height: 28px;
  width: 36px;
  margin: 14px 20px 0 0;
  float: left;
  background: url('../img/email.png') no-repeat top;
  -webkit-background-size: contain;
          background-size: contain;
}
footer .contact {
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
}
footer .contact::before {
  margin: 0 20px 0 0;
  height: 36px;
  width: 36px;
}
footer p:before {
  margin-right: 10px;
  font-family: Font Awesome\ 5 Free;
  content: '\f1f9';
}
@media screen and (max-width: 1210px) {
  #logo {
    margin-left: 2% !important;
  }
  nav {
    -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
            flex-basis: 50% !important;
  }
  .contact-menu {
    -webkit-box-ordinal-group: 2  !important;
    -webkit-order: 1  !important;
        -ms-flex-order: 1  !important;
            order: 1  !important;
    margin-left: 0 !important;
  }
  #block-main-description {
    margin-top: 90px !important;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
  nav li {
    margin: 0 5%;
  }
  nav li:nth-child(even) {
    margin-left: 5% !important;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
  #logo {
    margin-left: -5% !important;
  }
  nav {
    -webkit-flex-basis: 60% !important;
        -ms-flex-preferred-size: 60% !important;
            flex-basis: 60% !important;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
  nav {
    -webkit-flex-basis: 70% !important;
        -ms-flex-preferred-size: 70% !important;
            flex-basis: 70% !important;
  }
}
