@font-face {
	font-family: "Circe-Bold";
    src: url('../fonts/Circe-Bold.ttf');
}
@font-face {
	font-family: "Circe";
    src: url('../fonts/Circe-Light.ttf');
}
@font-face {
	font-family: "Futura-Book-C";
	src: url('../fonts/FuturaBookC.ttf');
}
@font-face {
	font-family: "Circe-Regular";
	src: url('../fonts/Circe-Regular.ttf');
}

body {
	background-color: black;
	font-family: Circe;
}

h1 {
	margin-top: 5%;
	font-size: 40px;
	line-height: 48px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	display: inline-flex;
	li {list-style: none}
}


#container {
	min-width: 1200px;
	max-width: 1600px;
	margin: 0 auto;
}

#container>section {
	background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#block-main {
	min-height: 100vh;
	background: url('../img/block-main-bg.png') no-repeat top;
	background-size: cover;
	color: #ddddde;
	justify-content: space-between;
}

#block-main-top {
	display: flex;
	justify-content: space-around;
	#logo {
		margin: 60px 0 0 140px;
		font-family: "Futura-Book-C";
		font-size: 24px;
		text-align: left;
		text-transform: uppercase;
	}
	#logo::before {
		margin: -15px 10px 0 0;
		content: '';
		height: 83px;
		width: 73px;
		float: left;
		background: url('../img/logo.png') no-repeat top;
		background-size: contain;
	}
	nav {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		flex-basis: 460px;
		a {
			font-size: 18px;
			opacity: .7;
			color: white;
			
		}
		a:hover {
			opacity: 1;
			
		}
	}
	.contact {
		align-self: center;
		font-size: 40px;
		font-weight: 700;
		margin: 55px 85px 0 0;
		white-space: nowrap;
	}
	.contact::before {
		content: '';
		margin: 10px;
		height: 25px;
		width: 25px;
		float: left;
		background: url('../img/telephone.png') no-repeat top;
		background-size: contain;	
	}
}


#block-main-description {
	h1 {
		margin: -1% 0 67px;
		font-size: 48px;
	}
	h3 {
		font-size: 30px;
		line-height: 20px;
	}
	span {color: #ffda44}
}


#arrow {
	align-self: center;
	margin-bottom: 2%;
}

#block-portfolio {
	a {
		color: #272727;
		font-size: 24px;
		margin: 35px;
	}
	a.active {
		color: #ffda44
	}
}

.hidden {display: none}

.owl-carousel .owl-item {
	img {margin-bottom: 16.5%}
}

#block-price {
	height: 1200px;
	ul {
		padding-left: 1%;
		width: 80%;
		height: 88px;
		align-self: center;
	}
	ul:nth-child(odd) {background-color: #e8e8e8}
	li {
		width: 18%;
		font-size: 24px;
		align-self: center;
		box-sizing: border-box;
	}
	ul>li:first-child {
		width: 60%;
		text-align: left;
		padding-right: 5%;
	}
	ul:last-child>li:first-child {
		padding-right: 0;
	}
	h3 {
		height: 88px;
		font-size: 30px;
		font-family: "Circe-Bold";
		padding-top: 30px;
		box-sizing: border-box;
	}
	span {
		font-weight: 400;
		font-family: "Circe-Regular";
	}
	.space {width: 4%}
	.orange {border-bottom: 5px solid #ffda44}
	.green {border-bottom: 5px solid #52ac62}
	.blue {border-bottom: 5px solid #4d59a1}
}

#block-order {
	background: url('../img/block-order-bg.jpg') no-repeat top;
	background-size: cover;
}

form {
	height: 670px;
	width: 500px;
	margin: 100px auto;
	background-color: white;
	h1 {
		margin: 80px 0 0 0;
		font-size: 36px;
	}
	p {
		margin: 0 0 30px 0;
		font-size: 18px;
		color: #727272;
	}
	input {
		font-size: 24px;
		color: #272727;
		height: 80px;
		width: 350px;
		padding-left: 70px;
		box-sizing: border-box; 
		border: 1px solid white;
		border-bottom: 1px solid black;
	}
	input[name="name"] {background: url('../img/avatar.png') no-repeat 20px}
	input[name="phone"]{background: url('../img/phone-call.png') no-repeat 20px}
	input[name="email"] {background: url('../img/envelope.png') no-repeat 20px}
	#submit {
		height: 80px;
		padding-left: 0;
		margin-top: 80px;
		color: white;
		background-color: #ffda44;
		cursor: pointer;
		font-size: 30px;
		font-weight: 700;
		border-bottom: 1px solid #ffda44;
	}
	#submit:hover {box-shadow: 3px 4px 10px grey}
}

#block-contact {
	padding: 3%;
	font-size: 24px;
	#email {
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 35px;
		align-self: center;
	}
	#email::before {
		content: '';
		height: 28px;
		width: 36px;
		margin: 14px 7px 0 0;
		float: left;
		background: url('../img/email.png') no-repeat top;
		background-size: contain;
	}
	.contact {font-size: 40px}
	.contact::before {
		margin-top: 5px;
		height: 36px;
		width: 36px;
	}
}

@media only screen and (orientation:portrait) {
	#arrow {margin-bottom: 5%}
	#block-price h3 {font-size: 1em}
}